* {
    font-family: mononoki, monospace;
}

body {
    all: unset;
}

.container {
    border: 2.5px solid red;
    margin: 5vw;
}

.heading {
    /* border: 2.5px solid blue; */
    display: flex;
    justify-content: center;
}

.prompt {
    /* border: 2.5px solid limegreen; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
    margin: 0.5vw;
}

.buttons button {
    font-size: larger;
    margin: 0 12px;
}

.results {
    border: 2.5px solid green;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    margin: 2vw;
    margin-top: 5vw;
    padding: 2vw;

    text-align: center;
}

.results .points {
    border: 2.5px solid pink;
}

.results .history {
    border: 2.5px solid purple;
}
